page-use-app {
  ion-slides {
    .toolbar {
      text-align: center;
      color: #fe3061;
      font-size: 20px;
    }

    p {
      font-size: 14px;
      color: #88898c;
      text-align: justify;
      margin: 10px 0;
    }

    .swiper-slide {
      display: block;

      h1 {
        margin-top: 9rem;
      }
    }

    .slide-zoom {
      padding: 0 20px;
    }

    .image-container {
      width: 150px;
      margin: auto;
    }

    .button-container {
      margin-top: 10px;
    }

    .toolbar-background {
      background: #fff;
    }

    h6 {
      text-align: justify;
    }
    @media screen and (device-aspect-ratio: 2/3) {
      .text-container{
        max-height: 210px;
        overflow: auto;
      }
  
      .image-container {
        width: 117px;
        margin: auto;
      }
  
    }
  
    @media screen and (device-aspect-ratio: 40/71) {
      .text-container{
        max-height: 300px;
        overflow: auto;
      }
  
      .image-container {
        width: 117px;
        margin: auto;
      }
    }
  }
}
