page-verification {
  .cancle-button-container {
    width: 45px;
    display: inline-block;
    vertical-align: -22px;
    margin-right: 12px;
  }

  .form-container p{
        line-height: 16px;
  }
}
