<!-- Generated template for the MenuHeader component -->
  <ion-navbar>
    <ion-buttons start> 
      <button menuToggle icon-only class="date-menu-icon">
        <ion-icon name="md-menu"></ion-icon>
      </button>
    </ion-buttons>
    
    <ion-title>{{title}}</ion-title>

    <ion-buttons end>

      <!-- <div class="top-icon-container" (click)="navigateToMessage()">
        <span class="badge"> 156</span>
        <img src="assets/images/topbar-message-icon.png">
      </div>

      <div class="top-icon-container" (click)="navigateToConnect()">
        <span class="badge">25</span>
        <img src="assets/images/topbar-fav-icon.png">
      </div>  -->

      
    </ion-buttons>

  </ion-navbar>